* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: BLACKJAR;
    src: url(BLACKJAR.TTF);
}

html, body {
    box-sizing: border-box;
    font-size: 100%;
    height: 100%;
}

/* header */

header {
    height: 120px;
}

.logo_container {
    display: inline-block;
}

.header_logo {
    font-family: 'Kaushan Script', cursive;
    width: 100px;
    height: 100px;
    line-height: 74px;
    background-color: white;
    text-align: center;
    color: #03b2e4;
    font-size: 3.12em;
    box-shadow: 14px 14px #03b2e4;
    cursor: pointer;
}

header nav {
    margin-right: 6px;
    margin-top: 36px;
    float: right;
    cursor: pointer;
}

.nav_icon > * {
    width: 28px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
}

/* greeting */

.greeting_section {
    height: 532px;
    overflow: hidden;
}

.greeting {
    position: relative;
    text-align: right;
    color: white;
    padding-top: 32px;
}

.greeting p {
    font-family: BLACKJAR, cursive;
    font-size: 4.4em;
}

.greeting_text {
    font-family: 'Montserrat', sans-serif;
    margin-top: 18px;
    font-size: 2.12em;
}

.greeting_text span {
    font-style: italic;
    font-weight: bold;
}

.greeting button {
    margin-top: 46px;
    border: 2px solid white;
    margin-right: 6px;
    width: 173px;
    height: 57px;
    color: white;
}

.iphone_image_container {
    left: 72px;
    top: 264px;
    position: absolute;
}

/* longwind */

.longwind_section {
    background-color: #f4f4f4;
    height: 650px;
    overflow: hidden;
}

.longwind {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    padding-top: 138px;
    color: gray;
}

.longwind p {
    font-size: 2.3em;
}

.ipad_image_container {
    right: -225px;
    top: 149px;
    position: absolute;
}

.longwind_text {
    max-width: 586px;
    margin-top: 30px;
    margin-bottom: 28px;
    line-height: 24px;
    font-size: 1em;
}

.longwind_blue_strip {
    height: 68px;
    width: 5px;
    position: absolute;
    left: 4px;
}

.longwind_article_container {
    position: relative;
    padding-left: 25px;
}

.longwind_article {
    max-width: 553px;
    line-height: 22px;
    font-style: italic;
    font-size: 1em;
}

.longwind button {
    margin-top: 73px;
    margin-left: 3px;
    border: 2px solid #00B18F;
    width: 173px;
    height: 57px;
    color: #00B18F;
}

/* dribbble */

.dribbble_section {
    height: 650px;
    overflow: hidden;
    position: relative;
}

.dribbble_text_container {
    font-family: 'Montserrat', sans-serif;
    float: right;
    width: 405px;
    padding-top: 96px;
}

.devices_image_container {
    position: absolute;
    left: -26px;
    bottom: -64px;
}

.dribbble_text_container p {
    font-size: 2.2em;
}

.dribbble_text {
    margin-top: 40px;
    font-style: italic;
}

.dribbble_article {
    margin-top: 34px;
    font-size: 1em;
    line-height: 1.5em;
    color: gray;
}

.dribbble_text_container button {
    margin-top: 55px;
    margin-left: 5px;
    border: 2px solid #FF4B8C;
    width: 224px;
    height: 57px;
    color: #FF4B8C;
}

/* like */

.like_section {
    height: 325px;
    background-image: url("green-pattern.jpg");
}

.like {
    padding-top: 8%;
    font-family: 'Montserrat', sans-serif;
    color: white;
    position: relative;
}

.like div {
    font-size: 2.3em;
    text-align: center;
}

.like_button {
    display: block;
    margin: 34px auto 0 auto;
    border: 2px solid white;
    width: 224px;
    height: 57px;
    color: white;
}

.like_button span {
    font-weight: bold;
    font-style: italic;
}

/* social */

.social_section {
    background-color: #f4f4f4;
    height: 646px;
}

.social {
    padding-top: 226px;
    font-family: 'Montserrat', sans-serif;
    color: gray;
}

.social_icons {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    justify-content: center;
}

.social_icons [class*="fa fa-"] {
    display: inline-block;
    background-color: inherit;
    color: #535353;
    border: 3px solid #535353;
    border-radius: 50px;
    height: 50px;
    line-height: 50px;
    margin: 15px 17px;
    width: 50px;
    font-size: 26px;
    text-align: center;
    cursor: pointer;
}

.email_form {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    margin-top: 54px;
    color: #535353;
}

.email_form > * {
    margin: 5px;
}

.email_form div {
    display: inline-block;
    background-color: white;
    width: 210px;
    height: 42px;
    padding: 0 4px;
    margin-left: 15px;
    border-radius: 8px;
    color: #D4D4D4;
}

.email_form span {
    font-weight: bold;
    font-style: italic;
}

.email_form input {
    width: 140px;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    padding-left: 15px;
    line-height: 40px;
    outline: none;
    border: none;
}

.email_form input::placeholder {
    color: #D4D4D4;
}

.email_form i {
    color: #12C9EE;
    font-size: 1em;
    margin-left: 10px;
    cursor: pointer;
}

/* footer */

footer {
    height: 100px;
    padding-top: 10px;

}

footer div {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.75em;
    width: 296px;
    line-height: 100px;
    margin: 0 auto;
    text-align: center;
}

.footer_perth {
    color: #12C9EE;
    cursor: pointer;
}

.footer_italic {
    font-style: italic;
}

/* combine */

header, .greeting_section {
    width: 100%;
    background-image: url("blue-pattern.jpg");
}

.container {
    width: 75%;
    margin: 0 auto;
}

.button {
    font-family: 'Montserrat', sans-serif;
    outline: none;
    background-color: inherit;
    border-radius: 2px;
    cursor: pointer;
}

.button i {
    font-size: 0.88em;
    margin-left: 14px;
}

@media only screen and (max-width: 1280px) {
    body {
        font-size: 80%;
    }

    .header_logo {
        width: 80px;
        height: 80px;
        line-height: 60px;
    }

    img {
        height: auto;
        width: 65%;
    }

    .greeting_section {
        height: 432px;
    }

    .longwind_section {
        height: 90%;
    }

    .ipad_image_container {
        right: -340px;
        top: 262px;
    }

    .dribbble_section {
        height: 472px;
    }

    .social {
        padding-top: 200px;
    }

    .social_section {
        height: 550px;
    }
}

@media only screen and (max-width: 1024px) {
    body {
        font-size: 70%;
    }

    .header_logo {
        width: 60px;
        height: 60px;
        line-height: 45px;
    }

    header nav {
        margin-top: 20px;
    }

    img {
        height: auto;
        width: 50%;
    }

    .greeting_section {
        height: 372px;
    }

    .iphone_image_container {
        left: -48px;
    }

    .longwind_section {
        height: 90%;
    }

    .ipad_image_container {
        right: -288px;
        top: 360px;
    }

    .dribbble_section {
        height: 472px;
    }

    .devices_image_container {
        left: -130px;
        bottom: -47px;
    }

    .like_section {
        height: 290px;
    }

    .social {
        padding-top: 125px;
    }

    .social_section {
        height: 450px;
    }
}

@media only screen and (max-width: 720px) {
    body {
        font-size: 70%;
    }

    .greeting_section {
        height: 292px;
    }

    .greeting {
        padding-top: 0;
    }

    .greeting_text {
        font-size: 1.6em;
    }

    .iphone_image_container {
        left: -118px;
        top: 182px;
    }

    .longwind_section {
        height: 76%;
    }

    .longwind {
        padding-top: 60px;
        text-align: justify;
    }

    .ipad_image_container {
        right: -346px;
        top: 322px;
    }

    .dribbble_section {
        height: 372px;
    }

    .dribbble_text_container {
        float: none;
        width: 100%;
        padding-top: 45px;
    }

    .devices_image_container {
        display: none;
    }

    .like_section {
        height: 240px;
    }

    .social {
        padding-top: 52px;
    }

    .social_section {
        height: 300px;
    }

    .container {
        width: 90%;
    }
}

@media only screen and (max-width: 480px) {
    header {
        height: 82px;
    }

    body {
        font-size: 60%;
    }

    .greeting_section {
        height: 256px;
    }

    .iphone_image_container {
        left: -150px;
        top: 138px;
    }

    .ipad_image_container {
        right: -346px;
        top: 342px;
    }

    .dribbble_section {
        height: 324px;
    }

    .like_section {
        height: 192px;
    }

    .longwind_blue_strip {
        height: 100%;
    }

    .longwind button {
        margin-top: 36px;
    }

    .dribbble_text_container button {
        margin: 0 auto;
        display: block;
        margin-top: 40px;
    }

    .social_icons [class*="fa fa-"] {
        border: 2px solid #535353;
        border-radius: 35px;
        height: 35px;
        line-height: 35px;
        width: 35px;
        font-size: 16px;
    }
}