.task_item {
    margin-bottom: 5px;
}

.task_item > p:first-child {
    font-weight: bold;
}

.input-task {
    display: block;
    width: 200px;
}

.task_form input[type="submit"] {
    margin: 5px 0;
    width: 100px;

}

.task_form label {
    display: block;
    margin: 5px 0;
}
