<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>Task 2</title>
    <link href='//fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="../task2/css/form.css">
</head>
<body>
<form class="chart_form" action="chart.php" method="post">
    <p>Choose Your favorite color:</p>
    <div class="choose_radio">
        <input type="radio" name="name" id="red" value="red" checked="checked">
        <label for="red">Red</label>
    </div>
    <div class="choose_radio">
        <input type="radio" id="blue" name="name" value="blue">
        <label for="blue">Blue</label>
    </div>
    <div class="choose_radio">
        <input type="radio" id="gray" name="name" value="gray">
        <label for="gray">Gray</label>
    </div>
    <div class="choose_radio">
        <input type="radio" id="purple" name="name" value="purple">
        <label for="purple">Purple</label>
    </div>
    <div class="choose_radio">
        <input type="radio" id="green" name="name" value="green">
        <label for="green">Green</label>
    </div>
    <input class="submit_button" type="submit" value="Do it!">
</form>
</body>
</html>