<!DOCTYPE html>
<html lang="en-UA">
<head>
    <meta charset="UTF-8">
    <title>Task 2</title>
    <link href='//fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="../task2/css/form.css">
</head>
<body>
<form class="chart_form" action="chart.php" method="post">
    <legend>Choose Your favorite color:</legend>
    <div class="choose_radio"><input type="radio" name="name" value="red"
                                     checked="checked">Red
    </div>
    <div class="choose_radio"><input type="radio" class="index_form_radio"
                                     name="name" value="blue">Blue
    </div>
    <div class="choose_radio"><input type="radio" class="index_form_radio"
                                     name="name" value="gray">Gray
    </div>
    <div class="choose_radio"><input type="radio" class="index_form_radio"
                                     name="name" value="purple">Purple
    </div>
    <div class="choose_radio"><input type="radio" class="index_form_radio"
                                     name="name" value="green">Green
    </div>
    <input class="submit_button" type="submit" value="Do it!">
</form>
</body>
</html>